/Object Oriented Programming/nbproject/private/
/Object Oriented Programming/build/
/ExceptionHandling/build/
/ABC Hospital Managment System/nbproject/private/
/ABC Hospital Managment System/build/
/ABC Hospital Managment System/dist/
/ATM Machine/nbproject/private/
/Chapter 12/nbproject/private/
/Chapter 12/build/
/Hotel_Management_System/target/
